$colorPrimary : #ff4646;
$colorPrimaryHover : #f71818;
$colorWhite : #ffffff;
$colorBlack : #333333;
$colorGrey : #aaaaaa;
$colorBackground : #fafafa;
$colorBorder: #eeeeee;
$colorYellow: #f6ff00;
$colorBlue: #0061ff;
$colorBlueHover: #0056e2;
