@import "./resolution";
@import "./variable";

.header{
  margin: 90px 24px 24px;
  padding: 16px;
  background-color: $colorWhite;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 8px;
  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media(max-width: $resolutionMobile){
    .header__content {
      .header__title{
        margin-bottom: 16px;
        h1{
          font-size: 18px !important;
          line-height: 1;
        }
        h5{
          font-size: 14px !important;
        }
      }
    }
  }
}
